* {
  font-family: 'Poppins', sans-serif;
}

.cardsContainer {
  background-color: #ececef;
  display: grid;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  color: #172b4d;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 1rem 2rem 1rem 1rem;
  width: 90%;
  padding-top: 9rem;
}

p {
  color: #344563;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 1rem 2rem 1rem 1rem;
  width: 75%;
}

h3 {
  color: #7f8cff;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 1rem;
}

#iconListContainer {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.iconList {
  margin-right: 2.5rem;
  margin-left: -1.4rem;
}

.iconList:hover {
  margin-right: 2.5rem;
  margin-left: -1.4rem;
  height: 101%;
  transition: 0.6s;
}

.mainSection {
  background-image: url(./img/background/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  width: 100vw;
  height: 100vh;
}

#hamburguerIcon:hover {
  background-color: aqua;
  transition: 1s;
}

#logo:hover {
  background-color: aqua;
  transition: 1s;
}

.card {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 5rem;
  width: 90vw;
  outline: 1px solid rgb(208, 205, 205);
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
}

.cardsTitle {
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 44px;
  color: #172b4d;
  margin-left: 1.4rem;
  margin-bottom: -0.8rem;
}

.subTitleList {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-left: -1rem;
  gap: 0.5rem;
  align-items: center;
}

.techList {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-left: -1rem;
  gap: 0.5rem;
}

.pictures {
  width: 90%;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: -1rem;
}

.pictureContainer {
  display: flex;
  align-items: center;
}

.canopy {
  color: #344563;
  font-size: 0.9rem;
  line-height: 1rem;
  font-weight: 600;
}

.dots {
  height: 0.6rem;
}

.grayWords {
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1rem;
  color: #7a869a;
}

.pInfo {
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-left: 1.5rem;
}

.techs {
  background-color: #ebebff;
  font-size: 0.9rem;
  color: #6070ff;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 8px;
  font-weight: 500;
}

.seeProjectButton {
  background: white;
  border-radius: 8px;
  border-color: #6070ff;
  color: #6070ff;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 1rem;
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-bottom: 2rem;
}

.seeProjectButton:hover {
  background: rgb(5, 40, 137);
  border-radius: 8px;
  border-color: #6070ff;
  color: #f7f7f9;
  transition: ease-in-out 0.6s;
}

h2 {
  color: #172b4d;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 1rem 2rem 1rem 1rem;
  width: 90%;
  padding-top: 9rem;
}

.about {
  margin-top: 2rem;
  padding-left: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0 5rem 0 0;
}

.desplTechList {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.languages {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90vw;
}

.techDescr {
  display: flex;
  flex-direction: row;
  background-color: #f7f7f9;
  margin-bottom: 1rem;
  margin-right: 1rem;
  margin-left: -1.7rem;
}

.tech {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.techTitles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: 1rem;
}

.logoPadding {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 1rem;
}

.techText {
  color: #253858;
  font-weight: 500;
  font-size: 1rem;
}
