* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#popupMobile {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(34, 48, 210, 0.7);
  backdrop-filter: blur(7px);
  position: fixed;
  width: 100vw;
  height: 100vh;
}

#crossMobile {
  margin: 1rem;
  height: 3rem;
}

#crossMobile:hover {
  height: 3.3rem;
  transition: 0.2rem;
}

#popListCont {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  margin-left: 2rem;
  font-size: 2rem;
  font-weight: 500;
}

.popMenuLinks {
  text-decoration: none;
  color: #fff;
}

.popMenuLinks:hover {
  font-size: 101%;
  transition: 0.2s;
}

.mobilePopUpList {
  margin-bottom: 1rem;
  color: #fff;
  text-decoration: none;
}

.mobilePopUpList:hover {
  font-size: 2.3rem;
  transition: 0.2s;
}

.cardsContainer {
  background-color: #ececef;
  display: grid;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1 {
  color: #172b4d;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 1rem 2rem 1rem 1rem;
  width: 90%;
  padding-top: 9rem;
}

p {
  color: #344563;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin: 1rem 2rem 1rem 1rem;
  width: 75%;
}

h3 {
  color: #7f8cff;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 1rem;
}

#iconListContainer {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: 1rem;
}

.iconList {
  margin-right: 1rem;
}

.iconList:hover {
  margin-right: 2.5rem;
  margin-left: -1.4rem;
  height: 101%;
  transition: 0.6s;
  size: 101%;
}

.mainSection {
  background-image: url(./img/background/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  width: 100vw;
  height: 100vh;
}

#hamburguerIcon:hover {
  background-color: aqua;
  transition: 1s;
}

#logo:hover {
  background-color: aqua;
  transition: 1s;
}

.card {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 5rem;
  width: 90vw;
  outline: 1px solid rgb(208, 205, 205);
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
}

.cardsTitle {
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 44px;
  color: #172b4d;
  margin-left: 1.4rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.subTitleList {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-left: 1.5rem;
  gap: 0.5rem;
  align-items: center;
}

.techList {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  gap: 0.5rem;
}

.pictures {
  width: 90%;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: -1rem;
  overflow-y: hidden;
}

.pictureContainer {
  display: flex;
  align-items: center;
  overflow-y: hidden;
}

.canopy {
  color: #344563;
  font-size: 0.9rem;
  line-height: 1rem;
  font-weight: 600;
}

.dots {
  height: 0.6rem;
}

.grayWords {
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1rem;
  color: #7a869a;
}

.pInfo {
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-left: 1.5rem;
}

.techs {
  background-color: #ebebff;
  font-size: 0.9rem;
  color: #6070ff;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 8px;
  font-weight: 500;
}

.seeProjectButton {
  background: white;
  border-radius: 8px;
  border-color: #6070ff;
  color: #6070ff;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.seeProjectButton:hover {
  background: rgb(108, 134, 205);
  border-radius: 8px;
  border-color: #6070ff;
  color: #f7f7f9;
  transition: ease-in-out 0.6s;
}

.seeProjectButton:active {
  background: #2230d2;
}

#mainSubt {
  color: #172b4d;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 1rem 2rem 1rem 1rem;
  width: 90%;
  padding-top: 9rem;
}

.about {
  margin-top: 2rem;
  padding-bottom: 5rem;
  padding-left: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0 5rem 0 0;
  font-size: 1.25rem;
}

.desplTechList {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0;
}

.languages {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100vw;
  list-style: none;
  margin-left: 1rem;
}

.techDescr {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  background-color: #f7f7f9;
  margin-bottom: 1rem;
  margin-right: 6rem;
  width: 80vw;
}

.tech {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.techTitles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70vw;
  font-size: 1.5rem;
  font-weight: 500;
  list-style: none;
  padding-bottom: 1.5rem;
}

.logoPadding {
  padding-left: 1rem;
  padding-right: 1rem;
}

.techText {
  color: #253858;
  font-weight: 500;
  font-size: 1rem;
}

.arrowSep {
  padding-left: 5rem;
}

.underline {
  list-style: none;
}

.contactMe {
  background-color: #6070ff;
  border-radius: 5rem 0 0 0;
  background-image: url(./img/background/contactFormBack.svg);
  background-repeat: no-repeat;
  background-position: right 0;
  background-size: 55vw;
  background-position-x: 11rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  size: 100vw;
  color: #172b4d;
  font-weight: 700;
  font-size: 2.5rem;
  padding-top: 1rem;
  margin-right: 4rem;
  width: 100vw;
  overflow: hidden;
}

#contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  margin-left: 1rem;
}

#contactP {
  color: white;
  width: 85vw;
  text-align: center;
  line-height: 28px;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

#contactTitle {
  color: #fff;
  text-align: center;
  font-size: 2.7rem;
  margin-top: 7rem;
}

#yourName {
  font-size: 1.1rem;
  color: #172b4d;
  font-weight: 400;
  line-height: 1.25rem;
  border-radius: 5px;
  border: 1px solid #cfd8dc;
  height: 3rem;
  width: 83vw;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}

#yourEmail {
  font-size: 1.1rem;
  color: #172b4d;
  line-height: 20px;
  border-radius: 5px;
  border: 1px solid #cfd8dc;
  height: 3rem;
  width: 83vw;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}

#bigInput {
  line-height: 20px;
  border-radius: 5px;
  border: 1px solid #cfd8dc;
  height: 6rem;
  width: 83vw;
  padding-left: 1rem;
  margin-top: 1rem;
  font-size: 1.1rem;
  color: #172b4d;
  padding-top: 1rem;
  margin-bottom: 0.5rem;
}

#getInTouchButton {
  background: white;
  border-radius: 8px;
  border-color: #6070ff;
  color: #6070ff;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.8rem 1.5rem;
  margin-top: 0.9rem;
  margin-bottom: 3rem;
  align-items: left;
}

#getInTouchButton:hover {
  background: rgb(108, 134, 205);
  border-radius: 8px;
  border-color: #6070ff;
  color: #f7f7f9;
  transition: ease-in-out 0.6s;
}

#buttonContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: left;
}

/* NOT SHOWN IN MOBILE */
#desktopMenu {
  display: none;
}

#hideOnMobile1 {
  display: none;
}

#hideOnMobile2 {
  display: none;
}

#hideOnMobile3 {
  display: none;
}

#hideOnMobile4 {
  display: none;
}

#hideOnMobile5 {
  display: none;
}

#hideOnMobile6 {
  display: none;
}

#hideOnMobile7 {
  display: none;
}

#hideTextOnMobile2 {
  display: none;
}

#hideTextOnMobile4 {
  display: none;
}

#hideTextOnMobile5 {
  display: none;
}

#hideTextOnMobile6 {
  display: none;
}

#hideTextOnMobile7 {
  display: none;
}

#HidePIc1 {
  display: none;
}

#hideondesktopdepltechlist {
  display: none;
}

@media screen and (min-width: 768px) {
  #hamburguerIcon {
    display: none;
  }

  #desktopMenu {
    display: flex;
  }

  #desktopMenuButtons {
    display: flex;
    gap: 2rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    color: #344563;
    font-weight: 500;
  }

  .desktopMenuButtons {
    display: flex;
    gap: 2rem;
    cursor: pointer;
    text-decoration: none;
  }

  .links {
    text-decoration: none;
  }

  .links:hover {
    size: 125%;
  }

  .desktopMenuButtons:hover {
    size: 125%;
  }

  .navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 5rem 0 5rem;
  }

  .main {
    margin-left: 15vw;
  }

  .mainTitle {
    font-size: 3rem;
    max-width: 33vw;
    margin-top: -3rem;
  }

  #descriptiveP {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75rem;
    width: 70vw;
  }

  #letsConnect {
    font-size: 1.25rem;
    font-weight: 400;
  }

  .iconList {
    height: 1.5rem;
    margin-top: 1rem;
  }

  .cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    display: flex;
    flex-direction: row;
  }

  .pictureContainer {
    width: 70vw;
  }

  .cardContent {
    margin: 2rem;
  }

  .pictures {
    height: fit-content;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-left: 1rem;
  }

  #reverseCards1 {
    display: flex;
    flex-direction: row-reverse;
  }

  #reverseCards2 {
    display: flex;
    flex-direction: row-reverse;
  }

  .cardsTitle {
    font-size: 2.5rem;
  }

  .techList {
    font-size: 1.5rem;
  }

  #hideOnDesktop1 {
    display: none;
  }

  #hideOnDesktop2 {
    display: none;
  }

  #hideOnDesktop3 {
    display: none;
  }

  #hideOnDesktop4 {
    display: none;
  }

  #hideTextOnDesktop1 {
    display: none;
  }

  #hideTextOnDesktop2 {
    display: none;
  }

  #hideTextOnDesktop3 {
    display: none;
  }

  #hideTextOnDesktop4 {
    display: none;
  }

  #hideTextOnDesktop5 {
    display: none;
  }

  #hideTextOnDesktop6 {
    display: none;
  }

  #hideTextOnDesktop7 {
    display: none;
  }

  .hideOnDesktop {
    display: none;
  }

  #backEndDevDesktop {
    display: none;
  }

  #hideOnMobile1 {
    display: flex;
  }

  #hideOnMobile2 {
    display: flex;
  }

  #hideOnMobile3 {
    display: flex;
  }

  #hideOnMobile5 {
    display: flex;
  }

  #hideOnMobile6 {
    display: flex;
  }

  #hideOnMobile7 {
    display: flex;
  }

  #hideOnMobile4 {
    display: flex;
  }

  #hideTextOnMobile1 {
    display: flex;
  }

  #hideTextOnMobile2 {
    display: flex;
  }

  #hideTextOnMobile3 {
    display: flex;
  }

  #hideTextOnMobile4 {
    display: flex;
  }

  #hideTextOnMobile5 {
    display: flex;
  }

  #hideTextOnMobile6 {
    display: flex;
  }

  #hideTextOnMobile7 {
    display: flex;
  }

  #HidePIc1 {
    display: flex;
  }

  #about {
    display: flex;
    border-radius: 0;
  }

  .languages {
    display: flex;
    width: 50vw;
    margin-top: 7rem;
  }

  .desplTechList {
    display: flex;
    flex-direction: row;
    margin: 0;
    color: #344563;
  }

  .techDescr {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: left;
    justify-content: left;
    background-color: #f7f7f9;
    width: auto;
  }

  #desplTechList {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 0;
    padding: 0;
  }

  #hideonmobiledepltechlist {
    display: none;
  }

  #hideondesktopdepltechlist {
    display: flex;
    margin-bottom: 2rem;
  }

  .techDesktop {
    width: 8rem;
    background-color: #f7f7f9;
    margin-right: 1rem;
  }

  .imgProperty {
    height: 3rem;
    padding-left: 1rem;
    padding-top: 1rem;
  }

  .techTitles {
    color: #344563;
    font-size: 1.25rem;
    width: 33vw;
  }

  .seeProjectButton {
    width: 9rem;
    font-size: 0.8rem;
    padding: 0.8rem;
  }

  .aboutContent {
    margin-left: 13vw;
    display: flex;
    flex-direction: column;
    width: 50vw;
  }

  #mainSubt {
    margin-top: -3rem;
  }

  #contactMe {
    margin-right: 0;
    padding-top: 3rem;
    height: 100vh;
    width: 100vw;
    border-radius: 8rem 0 0 0;
    background-image: url(./img/background/aveurg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90vw;
  }

  #contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  #contactTitle {
    font-size: 2.5rem;
    overflow: hidden;
  }

  #contactP {
    width: 36rem;
    text-align: center;
    font-size: 1.25rem;
    line-height: 28px;
    font-weight: 400;
  }

  #contactForm {
    width: 28rem;
    overflow: hidden;
  }

  #buttonContainer {
    display: flex;
    justify-content: center;
  }

  .mainSection {
    background-image: url(./img/background/mainDesk.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90vw;
    background-position-y: -0.5rem;
    padding-top: 5rem;
  }
}
